@import "http://fonts.googleapis.com/css?family=Lato:300,400,700";
@font-face {
  font-family: 'fontawesome';
  src: url("../fonts/fontawesome/fontawesome.eot?-e43dk9");
  src: url("../fonts/fontawesome/fontawesome.eot?#iefix-e43dk9") format("embedded-opentype"), url("../fonts/fontawesome/fontawesome.woff?-e43dk9") format("woff"), url("../fonts/fontawesome/fontawesome.ttf?-e43dk9") format("truetype"), url("../fonts/fontawesome/fontawesome.svg?-e43dk9#fontawesome") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Made with http://icomoon.io/app */
@font-face {
  font-family: 'fontawesome';
  src: url("../fonts/fontawesome/fontawesome.eot?-e43dk9");
  src: url("../fonts/fontawesome/fontawesome.eot?#iefix-e43dk9") format("embedded-opentype"), url("../fonts/fontawesome/fontawesome.woff?-e43dk9") format("woff"), url("../fonts/fontawesome/fontawesome.ttf?-e43dk9") format("truetype"), url("../fonts/fontawesome/fontawesome.svg?-e43dk9#fontawesome") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Azonix';
  src: url("../fonts/Azonix/Azonix.otf");
}

@font-face {
  font-family: 'Cabin';
  src: url("../fonts/Cabin/Cabin-Medium.ttf");
}

@font-face {
  font-family: 'JP';
  src: url("../fonts/Noto_Sans_JP/NotoSansJP-Bold.otf");
}

/* line 14, /Users/richardharrison/Desktop/GridGallery-Dev/scss/component.scss */
.logo {
  max-width: 960px;
  margin: auto;
}

/* line 20, /Users/richardharrison/Desktop/GridGallery-Dev/scss/component.scss */
.grid-gallery ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 25, /Users/richardharrison/Desktop/GridGallery-Dev/scss/component.scss */
.grid-gallery figure {
  margin: 0;
}

/* line 27, /Users/richardharrison/Desktop/GridGallery-Dev/scss/component.scss */
.grid-gallery figure img {
  display: block;
  width: 100%;
}

/* line 33, /Users/richardharrison/Desktop/GridGallery-Dev/scss/component.scss */
.grid-gallery figcaption h3 {
  margin: 0;
  padding: 0 0 0.5em;
}

/* line 37, /Users/richardharrison/Desktop/GridGallery-Dev/scss/component.scss */
.grid-gallery figcaption p {
  margin: 0;
}

/* line 42, /Users/richardharrison/Desktop/GridGallery-Dev/scss/component.scss */
.grid-wrap {
  max-width: 69em;
  margin: 0 auto;
  padding: 0 1em 1.875em;
}

/* line 47, /Users/richardharrison/Desktop/GridGallery-Dev/scss/component.scss */
.grid {
  margin: 0 auto;
}

/* line 49, /Users/richardharrison/Desktop/GridGallery-Dev/scss/component.scss */
.grid li {
  width: 25%;
  float: left;
  cursor: pointer;
}

/* line 54, /Users/richardharrison/Desktop/GridGallery-Dev/scss/component.scss */
.grid li figure {
  border-radius: 1em 0 0 0;
}

/* line 56, /Users/richardharrison/Desktop/GridGallery-Dev/scss/component.scss */
.grid li:nth-child(2n) figure {
  border-radius: 0 1em 0 0;
}

/* line 57, /Users/richardharrison/Desktop/GridGallery-Dev/scss/component.scss */
.grid li:nth-child(3n) figure {
  border-radius: 1em 1em 0 0;
}

/* line 58, /Users/richardharrison/Desktop/GridGallery-Dev/scss/component.scss */
.grid li:nth-child(5n) figure {
  border-radius: 1em 0 0 0;
}

/* line 59, /Users/richardharrison/Desktop/GridGallery-Dev/scss/component.scss */
.grid li:nth-child(7n) figure {
  border-radius: 0 1em 0 0;
}

/* line 60, /Users/richardharrison/Desktop/GridGallery-Dev/scss/component.scss */
.grid li:nth-child(11n) figure {
  border-radius: 1em 1em 0 0;
}

/* line 61, /Users/richardharrison/Desktop/GridGallery-Dev/scss/component.scss */
.grid li:nth-child(13n) figure {
  border-radius: 1em 0 0 0;
}

/* line 62, /Users/richardharrison/Desktop/GridGallery-Dev/scss/component.scss */
.grid li:nth-child(17n) figure {
  border-radius: 0 1em 0 0;
}

/* line 64, /Users/richardharrison/Desktop/GridGallery-Dev/scss/component.scss */
.grid figure {
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  position: relative;
  margin: 15px;
  overflow: hidden;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  /*flash*/
}

/* line 75, /Users/richardharrison/Desktop/GridGallery-Dev/scss/component.scss */
.grid figure::before {
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: '';
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
}

/* line 89, /Users/richardharrison/Desktop/GridGallery-Dev/scss/component.scss */
.grid figure::after {
  content: ' view project ';
  background-color: #b02324;
  height: 50px;
  display: block;
  text-align: right;
  position: absolute;
  opacity: 0;
  font-family: Azonix;
  vertical-align: baseline;
  left: -100%;
  padding: 20px 25px 30px 0px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

/* line 105, /Users/richardharrison/Desktop/GridGallery-Dev/scss/component.scss */
.grid figure figcaption {
  background: black;
  padding: 25px;
  position: relative;
  margin-top: 0px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

/* line 115, /Users/richardharrison/Desktop/GridGallery-Dev/scss/component.scss */
.grid figure:hover img {
  opacity: 1;
  -webkit-animation: flash 1.5s;
  animation: flash 1.5s;
}

/* line 120, /Users/richardharrison/Desktop/GridGallery-Dev/scss/component.scss */
.grid figure:hover figcaption {
  background: #d63031;
  margin-top: -50px;
  -webkit-box-shadow: 0px -4px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -4px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px -4px 5px 0px rgba(0, 0, 0, 0.75);
}

/* line 129, /Users/richardharrison/Desktop/GridGallery-Dev/scss/component.scss */
.grid figure:hover::before {
  -webkit-animation: shine .75s;
  animation: shine .75s;
}

/* line 134, /Users/richardharrison/Desktop/GridGallery-Dev/scss/component.scss */
.grid figure:hover::after {
  opacity: 1;
  position: relative;
  left: 0;
}

/* line 143, /Users/richardharrison/Desktop/GridGallery-Dev/scss/component.scss */
.services {
  display: block;
  width: 100%;
}

/* line 146, /Users/richardharrison/Desktop/GridGallery-Dev/scss/component.scss */
.services > span {
  display: inline-flex;
  width: 100%;
}

/* line 149, /Users/richardharrison/Desktop/GridGallery-Dev/scss/component.scss */
.services > span::before {
  display: inline-flex;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font: var(--fa-font-solid);
  width: 1.5em;
  text-align: center;
  margin-right: 0.5em;
  margin-bottom: 0.4em;
}

/* line 160, /Users/richardharrison/Desktop/GridGallery-Dev/scss/component.scss */
.services > span.design::before {
  content: "\f247";
}

/* line 165, /Users/richardharrison/Desktop/GridGallery-Dev/scss/component.scss */
.services > span.development::before {
  content: "\f5fc";
}

/* line 170, /Users/richardharrison/Desktop/GridGallery-Dev/scss/component.scss */
.services > span.branding::before {
  content: "\f02a";
}

/* line 175, /Users/richardharrison/Desktop/GridGallery-Dev/scss/component.scss */
.services > span.graphic::before {
  content: "\f53f";
}

/* line 182, /Users/richardharrison/Desktop/GridGallery-Dev/scss/component.scss */
.slideshow {
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 500;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
  transition: opacity 0.5s, visibility 0s 0.5s;
}

/* line 197, /Users/richardharrison/Desktop/GridGallery-Dev/scss/component.scss */
.slideshow ul {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translate3d(0, 0, 150px);
  transform: translate3d(0, 0, 150px);
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}

/* line 208, /Users/richardharrison/Desktop/GridGallery-Dev/scss/component.scss */
.slideshow ul.animatable li {
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}

/* line 213, /Users/richardharrison/Desktop/GridGallery-Dev/scss/component.scss */
.slideshow li {
  width: 1500px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  margin: -0 0 0 -750px;
  visibility: hidden;
  background: black;
}

/* line 222, /Users/richardharrison/Desktop/GridGallery-Dev/scss/component.scss */
.slideshow li:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

/* line 234, /Users/richardharrison/Desktop/GridGallery-Dev/scss/component.scss */
.slideshow li.show {
  visibility: visible;
  overflow-y: scroll;
}

/* line 239, /Users/richardharrison/Desktop/GridGallery-Dev/scss/component.scss */
.slideshow li.current:after {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s, visibility 0s 0.3s;
  transition: opacity 0.3s, visibility 0s 0.3s;
}

/* line 246, /Users/richardharrison/Desktop/GridGallery-Dev/scss/component.scss */
.slideshow figure {
  width: 100%;
  height: 100%;
}

/* line 250, /Users/richardharrison/Desktop/GridGallery-Dev/scss/component.scss */
.slideshow figcaption {
  padding: 20px;
}

/* line 252, /Users/richardharrison/Desktop/GridGallery-Dev/scss/component.scss */
.slideshow figcaption h3 {
  font-weight: 300;
  font-size: 200%;
}

/* line 258, /Users/richardharrison/Desktop/GridGallery-Dev/scss/component.scss */
.slideshow nav span {
  position: fixed;
  z-index: 1000;
  color: #59656c;
  text-align: center;
  padding: 223px 3%;
  cursor: pointer;
  font-size: 2.2em;
}

/* line 267, /Users/richardharrison/Desktop/GridGallery-Dev/scss/component.scss */
.slideshow nav span.nav-prev {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* line 272, /Users/richardharrison/Desktop/GridGallery-Dev/scss/component.scss */
.slideshow nav span.nav-next {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0;
}

/* line 278, /Users/richardharrison/Desktop/GridGallery-Dev/scss/component.scss */
.slideshow nav span.nav-close {
  top: 0;
  right: 0;
  padding: 0.5em 1em;
  color: #31373a;
}

/* line 287, /Users/richardharrison/Desktop/GridGallery-Dev/scss/component.scss */
.slideshow-open .slideshow {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

/* line 292, /Users/richardharrison/Desktop/GridGallery-Dev/scss/component.scss */
.slideshow-open .slideshow ul {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 299, /Users/richardharrison/Desktop/GridGallery-Dev/scss/component.scss */
.icon:before {
  font-family: 'fontawesome';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 310, /Users/richardharrison/Desktop/GridGallery-Dev/scss/component.scss */
.icon:after {
  font-family: 'fontawesome';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 323, /Users/richardharrison/Desktop/GridGallery-Dev/scss/component.scss */
span.nav-prev:before {
  content: "\e601";
}

/* line 328, /Users/richardharrison/Desktop/GridGallery-Dev/scss/component.scss */
span.nav-next:before {
  content: "\e600";
}

/* line 333, /Users/richardharrison/Desktop/GridGallery-Dev/scss/component.scss */
span.nav-close:before {
  content: "\e602";
}

/* line 337, /Users/richardharrison/Desktop/GridGallery-Dev/scss/component.scss */
.info-keys {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 60px;
  font-size: 8px;
  padding-top: 20px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1px;
  text-align: center;
}

/* line 348, /Users/richardharrison/Desktop/GridGallery-Dev/scss/component.scss */
.info-keys:before {
  position: absolute;
  top: 0;
  width: 16px;
  height: 16px;
  border: 1px solid #fff;
  text-align: center;
  line-height: 14px;
  font-size: 12px;
  left: 10px;
  content: "\e603";
}

/* line 360, /Users/richardharrison/Desktop/GridGallery-Dev/scss/component.scss */
.info-keys:after {
  position: absolute;
  top: 0;
  width: 16px;
  height: 16px;
  border: 1px solid #fff;
  text-align: center;
  line-height: 14px;
  font-size: 12px;
  right: 10px;
  content: "\e604";
}

@media screen and (max-width: 1500px) {
  /* line 376, /Users/richardharrison/Desktop/GridGallery-Dev/scss/component.scss */
  .grid li {
    width: 33.3%;
  }
  /* line 381, /Users/richardharrison/Desktop/GridGallery-Dev/scss/component.scss */
  .slideshow li {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
  }
  /* line 388, /Users/richardharrison/Desktop/GridGallery-Dev/scss/component.scss */
  .slideshow li figure img {
    width: auto;
    margin: 0 auto;
    max-width: 100%;
  }
  /* line 396, /Users/richardharrison/Desktop/GridGallery-Dev/scss/component.scss */
  .slideshow nav span {
    font-size: 1.8em;
    padding: 0.3em;
  }
  /* line 400, /Users/richardharrison/Desktop/GridGallery-Dev/scss/component.scss */
  .slideshow nav span.nav-close {
    font-size: 1.8em;
    padding: 0.3em;
  }
  /* line 406, /Users/richardharrison/Desktop/GridGallery-Dev/scss/component.scss */
  .info-keys {
    display: none;
  }
}

@media screen and (max-width: 35em) {
  /* line 412, /Users/richardharrison/Desktop/GridGallery-Dev/scss/component.scss */
  .grid li {
    width: 50%;
  }
}

@media screen and (max-width: 24em) {
  /* line 419, /Users/richardharrison/Desktop/GridGallery-Dev/scss/component.scss */
  .grid li {
    width: 100%;
  }
}

@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}

@keyframes shine {
  100% {
    left: 125%;
  }
}

@-webkit-keyframes flash {
  0% {
    opacity: .4;
  }
  100% {
    opacity: 1;
  }
}

@keyframes flash {
  0% {
    opacity: .4;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=../css/component.map */