


/* Made with http://icomoon.io/ */
/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	&:after {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	&:before {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
}

//.reveal{
//  transform: translateY(300px);
//  opacity: 0;
//    -webkit-transition: all 0.5s ease;
//    transition: all 0.5s ease;  
//}
//
//.reveal.active{
//  transform: translateY(0);
//  opacity: 1;
//}

body {
	font-size: 100%;
	padding: 0;
	margin: 0;
	font-family: 'Cabin','Lato', Calibri, Arial, sans-serif;
	color: $color;
    background: $black;
    font-size:1em;
}
html {
	font-size: 100%;
	padding: 0;
	margin: 0;
}
.container {
    max-width: 960px;
    margin: 0 auto;
}
h1, h2, h3 {
    font-family: $h-font;
	padding: 0;
	margin: 0 0 0.5em;   
}

h1 {
    font-size: 2.5em;
}
h2 {
   font-size: 2em; 
}
h3 {
    font-size:1.2em;
}
@media screen and (max-width: 42.125em) {
  }
@media screen and (max-width: 34em) {
    body {
        font-size:0.8em;
    }
}


img {
  max-width: 100%;
  height: auto;
}
.clearfix {
	&:before {
		content: " ";
		display: table;
	}
	&:after {
		content: " ";
		display: table;
		clear: both;
	}
}
a {
	color: #f0f0f0;
	text-decoration: none;
	outline: none;
	&:hover {
		color: #000;
	}
}

.bp-icon {
	&:after {
		font-family: 'bpicons';
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		text-align: center;
		color: $color;
		-webkit-font-smoothing: antialiased;
	}
}
.bp-icon-next {
	&:after {
		content: "\e000";
	}
}
.bp-icon-drop {
	&:after {
		content: "\e001";
	}
}
.bp-icon-archive {
	&:after {
		content: "\e002";
	}
}
.bp-icon-about {
	&:after {
		content: "\e003";
	}
}
.bp-icon-prev {
	&:after {
		content: "\e004";
	}
}

.grey-bg {
    background: $black;
    padding: 1em 0;
    margin-bottom: 600px;
    position: relative;
    z-index: 1;
}

.black-bg {
    background: black;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%; 
    height: 600px;
}

