.logo {
    position: relative;
    margin: 0 auto 1.875em;
}

.logo-hand {
    animation: fadeIn 6s;
    position: absolute;
    left: 0;
    z-index: -1;    
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}