@import "variables";
@import "scroll";

/* Made with http://icomoon.io/ */
/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	&:after {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	&:before {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
}

//.reveal{
//  transform: translateY(300px);
//  opacity: 0;
//    -webkit-transition: all 0.5s ease;
//    transition: all 0.5s ease;  
//}
//
//.reveal.active{
//  transform: translateY(0);
//  opacity: 1;
//}



body {
	font-size: 100%;
	padding: 0;
	margin: 0;
	font-family: 'Cabin','Lato', Calibri, Arial, sans-serif;
	color: $color;
    background: $black;
}
html {
	font-size: 100%;
	padding: 0;
	margin: 0;
}
h1, h3 {
    font-family: $h-font;
}
img {
  max-width: 100%;
  height: auto;
}
.clearfix {
	&:before {
		content: " ";
		display: table;
	}
	&:after {
		content: " ";
		display: table;
		clear: both;
	}
}
a {
	color: #f0f0f0;
	text-decoration: none;
	outline: none;
	&:hover {
		color: #000;
	}
}

.container {
	>header {
		width: 90%;
		max-width: 69em;
		margin: 0 auto;
		padding: 2.875em 1.875em 1.875em;
		h1 {
			font-size: 2.125em;
			line-height: 1.3;
			margin: 0 0 0.6em 0;
			float: left;
			font-weight: 400;
		}
		>span {
			display: block;
			position: relative;
			z-index: 200;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 0.5em;
			padding: 0 0 0.6em 0.1em;
			span {
				&:after {
					width: 30px;
					height: 30px;
					left: -12px;
					font-size: 50%;
					top: -8px;
					font-size: 75%;
					position: relative;
				}
				&:hover {
					&:before {
						content: attr(data-content);
						text-transform: none;
						text-indent: 0;
						letter-spacing: 0;
						font-weight: 300;
						font-size: 110%;
						padding: 0.8em 1em;
						line-height: 1.2;
						text-align: left;
						left: auto;
						margin-left: 4px;
						position: absolute;
						color: #fff;
						background: $color;
					}
				}
			}
		}
		nav {
			float: right;
			text-align: center;
			a {
				display: inline-block;
				position: relative;
				text-align: left;
				width: 2.5em;
				height: 2.5em;
				background: #fff;
				border-radius: 50%;
				margin: 0 0.1em;
				border: 4px solid $color;
				>span {
					display: none;
				}
				&:hover {
					&:before {
						content: attr(data-info);
						color: $color;
						position: absolute;
						width: 600%;
						top: 120%;
						text-align: right;
						right: 0;
						pointer-events: none;
					}
					background: $color;
					&:after {
						color: #fff;
					}
				}
			}
			.bp-icon {
				&:after {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					line-height: 2;
					text-indent: 0;
				}
			}
		}
	}
}
.bp-icon {
	&:after {
		font-family: 'bpicons';
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		text-align: center;
		color: $color;
		-webkit-font-smoothing: antialiased;
	}
}
.bp-icon-next {
	&:after {
		content: "\e000";
	}
}
.bp-icon-drop {
	&:after {
		content: "\e001";
	}
}
.bp-icon-archive {
	&:after {
		content: "\e002";
	}
}
.bp-icon-about {
	&:after {
		content: "\e003";
	}
}
.bp-icon-prev {
	&:after {
		content: "\e004";
	}
}
@media screen and (max-width: 55em) {
	.container {
		>header {
			h1 {
				float: none;
				text-align: center;
			}
			nav {
				float: none;
				margin: 0 auto;
			}
			>span {
				text-align: center;
				text-indent: 30px;
			}
		}
	}
}
